<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <p>Your IMEI is {{IMEI}}</p>
    <button (click)="getIMEI()" color="secondary" ion-button>Get IMEI from local storage</button>
</ion-content>
